* text=auto eol=lf
*.sh text eol=lf
*.tmpl text eol=lf
*.zsh text eol=lf
*.bash text eol=lf
*.lua text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
