{{ $zsh := "/usr/bin/zsh" -}}
{{ if eq .chezmoi.os "darwin" -}}
{{   $zsh = "/bin/zsh" -}}
{{ else -}}
{{   $zsh = (printf "%s/.local/bin/zsh" .chezmoi.homeDir) -}}
{{ end -}}
{{   include "configs/herdr.toml" | replace "ZSH_PATH_PLACEHOLDER" $zsh -}}
